build/
*.user
/cmake-build-debug/*
/cmake-build-qt/*
/.idea/*
cmake-build-debug/
cmake-build-debug-mingw/
.qt/
.idea/*
.vscode/
.vs/
CMakeLists.txt.user
cmake-build-debug-mingw/*
/.cache/*
.idea/vcs.xml